header{
  padding: 20px 0;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: $b-index + 9999;
}
.header-nav{
  float:right;
  ul{
    font-size: 0;
    margin-right:-15px;
  }
  li{
    display: inline-block;
    a{
      font-size: $base_font-size - 2px;
      display:block;
      padding: 8px 20px;
      color: $main-text;
      text-decoration: none;
      text-transform: capitalize;
      transition: border 0.3s ease-in-out;
      border-top: 1px solid transparent;
      &:hover{
        border-top: 1px solid $blue;
      }
    }
  }
}
